   html{
    scroll-behavior: smooth ;
}

body{
    background-color: black;
    color: white;
    
    
}
footer{
    font-family: 'Metropolis';
    font-weight: normal;
    margin-left: 1vw;
    display: flex;
    justify-content: space-between;
    #FooterRight{
        text-align: right;
    }
}

@font-face {
    font-family: 'BigJohn';
    src: url("../../fonts/BIG\ JOHN.otf");
    
}
@font-face {
    font-family: 'Metropolis';
    src: url(../../fonts/Metropolis-Regular.otf);
}


  .burgerButton{
   display: none;
}

.heading{
    font-family:'BigJohn' ,sans-serif;
    font-weight: normal;
    font-size: 3.3vw;
    margin:auto;
}
.bodyText{
    font-family: 'Metropolis';
    font-weight: normal;
    font-size: 1.6vw;
    line-height: 1.9vw;
}

#FooterRight {
    text-align: right;
}


    h1{
        font-family:'BigJohn' ,sans-serif;
        font-weight: normal;
        font-size: 4.5vw;
        margin-left: 8.5vw;
    }

    
    #BlogHead{
        margin-top: 15vh;
    }
#navCheck{
    display: none;
}

#ProgrammingGrid{
    display: grid;
    
    margin: 7vh 10vw;

    grid-template-columns: 1fr;
    grid-template-rows  : auto;
    gap: 7vw;
    list-style-type: none;
    justify-content: center;
    .cardContainer{

        display: flex;
        flex-wrap: wrap;
        
    }
    .card{
        
      background-color: #141414;
      margin: 0 auto;
      width: 85vw;
      height: 50vh;
      padding: 3vh;
      display: flex;
      transition: box-shadow .3s;
      border-radius: 8px;
      overflow: hidden;
      img{
       
        width: 70vw;
       
    }
       
       
    }
    .card:hover{
        box-shadow: 0 0 14px 2px #dbdbdb;
    }
    a{
          
        color: white;
        text-decoration: none;
        font-family: 'Metropolis';
    }
    .cardContent{
     
        
        justify-content: space-between; 
        margin-inline: 2vw;
    }
    .programDescription{
        color: #636364;
    }
}


.toTopButton{
    position: fixed;
    right: 1vw;
    bottom: 6vh;
    width: 7vh;
    height: 7vh;
    font-size: 1.5em;
    border-radius: 7vh;
    border-style:  none;
}
@media only screen and (min-width: 992px){
.navbar{
        position:sticky;
        top: 2vh;
        margin: 0 auto; 
        max-width: 80vw;
        font-family: 'metropolis';
        background-color: #dbdbdb;
        padding: 3.5vh 3.5vw;
        border-radius: 10px;
        
        ul{
            position: relative;
            justify-content: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 100%; 
            display: flex;
            li{
                flex-grow: 1;
                color: black;
                font-size: large;
                text-align: center;
            }
            a{
                color: black;
                text-decoration: none;
                transition: color 0.15s;
                font-size: large;
            }
            a:hover{
                color: #636364;
            }
        }
    }
}

@media only screen and (max-width: 750px){
    h1{
        font-family:'BigJohn' ,sans-serif;
        font-weight: normal;
        font-size: 8vw;
        text-align: center;
  
    }
      #BlogHead{
        margin-left: 0;
    }
     .heading{
        font-family:'BigJohn' ,sans-serif;
        font-weight: normal;
        font-size: 8vw;
        margin:auto;
    }
    .bodyText{
        font-family: 'Metropolis';
        font-weight: normal;
        font-size: 3.5vw;
       line-height: 1.2rem;
    }
     .navbar{
        
        position:fixed;
        margin: 0 auto; 
        width: 100%;
        top: 0;
        z-index: 100;
        font-family: 'metropolis';
        background-color: #dbdbdb;
        padding: 3vh 0;
        transition: top 0.5s;
        .burgerButton{
            font-size: 5vw;
            color: black;
           display: block;
           padding: 1vw 3vw;
          
        }
        #navCheck:checked ~ul{
            opacity: 100%;
            left: 0;
        }
     
        
        
    }
    
        #menu{
         
        position: fixed;
        z-index: 99;
        opacity: 0;
        left: -120%;
        background-color: #141414cb;
        backdrop-filter: blur(12px);
        list-style-type: none;
        width: 100%;
        height: 100vh;
        transition: all 0.25s;

        li{
            color: white;
            font-size: large;
            padding-top: 7vh;
        }
        a{
            
            color: white;
            text-decoration: none;
            transition: color 0.15s;
            font-size: 5vw;
        }
        a:hover{
            
            color: #636364;
            
        }
        
        
        }
        #ProgrammingGrid{

        grid-template-columns: 1fr;
        grid-template-rows  : auto;
    
        .card{
            
         
          width: 80vw;
          
          padding: 4vh 3vh;
         
          flex-direction: column;


  
       
          video{
            max-width: 80vw;
          }
           
           
        }
       
       
        .cardContent{

            margin-inline: 2vw;
        }
       
     
    
   }

    
    }
 