html{
    scroll-behavior: smooth ;
}

body{
    background-color: black;
    color: white;
    
    
}
footer{
    font-family: 'Metropolis';
    font-weight: normal;
    margin-left: 1vw;
    display: none;
    justify-content: space-between;
    #FooterRight{
        text-align: right;
    }
}

@font-face {
    font-family: 'BigJohn';
    src: url("../../fonts/BIG\ JOHN.otf");
    
}
@font-face {
    font-family: 'Metropolis';
    src: url(../../fonts/Metropolis-Regular.otf);
}


  .burgerButton{
   display: none;
}
.toTopButton{
    position: fixed;
    right: 1vw;
    bottom: 12vh;
    width: 7vh;
    height: 7vh;
    font-size: 1.5em;
    border-radius: 7vh;
    border-style:  none;
}
.toTopButton:hover{
    cursor: pointer;
}
.heading{
    font-family:'BigJohn' ,sans-serif;
    font-weight: normal;
    font-size: 3.3vw;
    margin:auto;
}
.bodyText{
    font-family: 'Metropolis';
    font-weight: normal;
    font-size: 1.6vw;
    line-height: 1.9vw;
}

#FooterRight {
    text-align: right;
}


    h1{
        font-family:'BigJohn' ,sans-serif;
        font-weight: normal;
        font-size: 4.5vw;
        margin-left: 8.5vw;
    }
    h2{
        font-family:'BigJohn' ,sans-serif;
        font-weight: normal;
        font-size: 4vw;
        margin-left: 8.5vw;
    }

    
    #BlogHead{
        margin-top: 2vh;
    }
#navCheck{
    display: none;
}
#scrubber{
width: 100%;
height: 0.4em;
margin-bottom: 0.5em;
}
#scrubber:hover{
    cursor: pointer;
}
#scrubber::-webkit-slider-runnable-track {
  width: 100%;
  height: 1em;
  background: transparent;
  border: none;
  
}
#scrubber::-webkit-slider-thumb{
 -webkit-appearance: none; 
 background-color: white;
  width: 1em;
  height: 1em;
  background-size: contain;
  cursor: pointer;
  border: none;
  border-radius: 10em;
  
}
#scrubber::-moz-range-thumb {
 background-color: white;
  width: 1em;
  height: 1em;
  background-size: contain;
  cursor: pointer;
  border: none;
  border-radius: 10em;

}
#playPauseButton:hover{
    cursor: pointer;
}
#backwardsButton:hover{
       cursor: pointer;
}
#forwardsButton:hover{
       cursor: pointer;
}
#playlistButton{
    margin-left: 2em;
}
#playListButton:hover{
    cursor: pointer;
}
#trackTitle{
    font-size: 0.75em;
}
#trackTitle:hover{
    cursor: pointer;
}
.sideMenu{
    
    background-color: #141414e7;
    backdrop-filter: blur(12px);
    position: fixed;
    width: 25%;
    height: 100%;
    top:0;
    left: -100%;
    transition: all 0.5s;
}
#trackList{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}
#trackList:hover{
    cursor: pointer;
}
.menuTrackItem{
    width: 90%;
  
    border-bottom: 2px solid #636363;
    display: grid;
    grid-template-rows: 2em 1.25em;
    grid-template-columns: 1.75fr 0.25fr;
    align-items: center;
    transition: all 0.15s;
}
.menuTrackItem:hover{
opacity: 50%;
cursor: pointer;
}
#trackSelect:hover{
    transition: all 0.15s;
opacity: 50%;
cursor: pointer;
}
.menuItemSongDuration{
    display: flex;
    justify-content: right;
    font-size: 0.5em;
    color: #636363;
   
}
.menuItemGenres{

    font-size: 0.75em;
    color: #636363;
     margin-bottom: 1em;
}
.menuBarBottom{
    position: fixed;
    bottom: 0;
    display: grid;
    width: 100%;
    height: 10vh;
    background-color: #141414;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.flexColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.flexRow{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}
#canvasContainer{
    margin-top: 100vh;
}
#visualizerCanvas{
    width: 100%;
    position: fixed;
    bottom:9vh;
    left: 0;
    z-index: -6;

}
.carousel{
    margin-top: 10vh;
    margin-bottom: 10vh;
     overflow: hidden;
      width: 100%;
}
.carouselImages{
    display: flex;
     transition: transform 0.4s;
 align-items: center;
 justify-content: center;
    img{
        max-height: 75vh;
        max-width: 90vw;
    }
 
}
.prev{
    position: fixed;
    left: 2em;
    bottom: 50%;
    border-radius: 2em;
    border-style: none;
    width: 1.5em;
    height: 1.5em;
}
.next{
     position: fixed;
    right: 2em;
    bottom: 50%;
       border-radius: 2em;
    border-style: none;
    width: 1.5em;
    height: 1.5em;
    
}
.next:hover{
       cursor: pointer;
}
.prev:hover{
       cursor: pointer;
}
.APIContainer{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    margin-top: 4.5em;
}
.fade {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.fade.out {
  opacity: 0;
}
.stars{
    position: absolute;
    top: 0;
    opacity: 0.7;
    width: 100%;
    z-index: -40;
}
.APIDescription{
 margin-right: 10vw;
 font-size: 1.5rem;
 line-height: 1.9rem;
}
.APIGenres{
    color: #636363;
    font-size: 1.25rem;
}
.APITitle{
    margin-bottom: 0.5em;
    font-style: italic;
}
.APIArtist{
  
  margin-bottom: 0.5em;
}
.APIImage{
    margin-left: 3em;
    width: 125%;
    max-width: 20vw;
}
.APIText{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.reroll{
    margin-top: 10vh;
    margin-bottom: 20vh;
    padding: 1em;
    border-radius: 0.55em;
}
.reroll:hover{
       cursor: pointer;
}
@media only screen and (min-width: 992px){
.navbar{
        position:sticky;
        top: 2vh;
        margin: 0 auto; 
        max-width: 80vw;
        font-family: 'metropolis';
        background-color: #dbdbdb;
        padding: 3.5vh 3.5vw;
        border-radius: 10px;
        
        ul{
            position: relative;
            justify-content: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 100%; 
            display: flex;
            li{
                flex-grow: 1;
                color: black;
                font-size: large;
                text-align: center;
            }
            a{
                color: black;
                text-decoration: none;
                transition: color 0.15s;
                font-size: large;
            }
            a:hover{
                color: #636364;
            }
        }
    }
}
@media only screen and (max-width: 992px){
    #sorryMessage{
        line-height: 1.7rem;
    }
        .prev{
    position: fixed;
    left: 2em;
    bottom: 30%;
    width: 2.5em;
    height: 2.5em;
}
.reroll{

    margin-bottom: 30vh;

}
.APIContainer{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin-top: 4.5em;
}
.APIImage{
    width: 60vw;
    max-width: 60vw;
    margin-left: 0;
}
.APIText{
    align-items: center; 
    justify-content: center;
}
.APIDescription{
    margin-right: 4vw;
    margin-left: 5vw;
  font-size: 1rem;
  line-height: 1.8rem;

}
.stars{
    margin-top: 20vh;
}
.next{
     position: fixed;
    right: 2em;
    bottom: 30%;
    width: 2.5em;
    height: 2.5em;
}
    .sideMenu{
        width: 100%;
        margin-top: 10vh;
    }
    .menuBarBottom{
        grid-template-columns: 0.75fr 1.25fr;
    }
    #scrubber{
        width: 80%;
    }
    h1{
        font-family:'BigJohn' ,sans-serif;
        font-weight: normal;
        font-size: 8vw;
        text-align: center;
  
    }
      #BlogHead{
        margin-left: 0;
    }
     .heading{
        font-family:'BigJohn' ,sans-serif;
        font-weight: normal;
        font-size: 8vw;
        margin:auto;
    }
    .bodyText{
        font-family: 'Metropolis';
        font-weight: normal;
        font-size: 3.5vw;
       line-height: 1.2rem;
    }
     .navbar{
        
        position:fixed;
        margin: 0 auto; 
        width: 100%;
        top: 0;
        z-index: 100;
        font-family: 'metropolis';
        background-color: #dbdbdb;
        padding: 3vh 0;
        transition: top 0.5s;
        .burgerButton{
            font-size: 5vw;
            color: black;
           display: block;
           padding: 1vw 3vw;
          
        }
        #navCheck:checked ~ul{
            opacity: 100%;
            left: 0;
        }
     
        
        
    }
    
        #menu{
         
        position: fixed;
        z-index: 99;
        opacity: 0;
        left: -120%;
        background-color: #141414cb;
        backdrop-filter: blur(12px);
        list-style-type: none;
        width: 100%;
        height: 100vh;
        transition: all 0.25s;

        li{
            color: white;
            font-size: large;
            padding-top: 7vh;
        }
        a{
            
            color: white;
            text-decoration: none;
            transition: color 0.15s;
            font-size: 5vw;
        }
        a:hover{
            
            color: #636364;
            
        }
        
        
        }
        
    
    }

 @media only screen and (max-width: 750px){
    .prev{
    position: fixed;
    left: 2em;
    bottom: 50%;
    width: 3em;
    height: 3em;
}
.stars{
    margin-top: 15vh;
}
.reroll{

    margin-bottom: 30vh;

}
.APIContainer{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin-top: 4.5em;
}
.APIImage{
    width: 60vw;
    max-width: 60vw;
    margin-left: 0;
}
.APIText{
    align-items: center; 
    justify-content: center;
}
.APIDescription{
    margin-right: 4vw;
    margin-left: 5vw;
  font-size: 1rem;
  line-height: 1.8rem;

}
.next{
     position: fixed;
    right: 2em;
    bottom: 50%;
    width: 3em;
    height: 3em;
}
    .sideMenu{
        width: 100%;
        margin-top: 10vh;
    }
    .menuBarBottom{
        grid-template-columns: 0.75fr 1.25fr;
    }
    #scrubber{
        width: 80%;
    }
    h1{
        font-family:'BigJohn' ,sans-serif;
        font-weight: normal;
        font-size: 8vw;
        text-align: center;
  
    }
      #BlogHead{
        margin-left: 0;
    }
     .heading{
        font-family:'BigJohn' ,sans-serif;
        font-weight: normal;
        font-size: 8vw;
        margin:auto;
    }
    #visualizerCanvas{
    width: 100%;
    height: 50%;
    position: fixed;
    bottom:9vh;
    left: 0;
    z-index: -6;
}
    .bodyText{
        font-family: 'Metropolis';
        font-weight: normal;
        font-size: 3.5vw;
       line-height: 1.2rem;
    }
     .navbar{
        
        position:fixed;
        margin: 0 auto; 
        width: 100%;
        top: 0;
        z-index: 100;
        font-family: 'metropolis';
        background-color: #dbdbdb;
        padding: 3vh 0;
        transition: top 0.5s;
        .burgerButton{
            font-size: 5vw;
            color: black;
           display: block;
           padding: 1vw 3vw;
          
        }
        #navCheck:checked ~ul{
            opacity: 100%;
            left: 0;
        }
     
        
        
    }
    
        #menu{
         
        position: fixed;
        z-index: 99;
        opacity: 0;
        left: -120%;
        background-color: #141414cb;
        backdrop-filter: blur(12px);
        list-style-type: none;
        width: 100%;
        height: 100vh;
        transition: all 0.25s;

        li{
            color: white;
            font-size: large;
            padding-top: 7vh;
        }
        a{
            
            color: white;
            text-decoration: none;
            transition: color 0.15s;
            font-size: 5vw;
        }
        a:hover{
            
            color: #636364;
            
        }
        
        
        }
        
    
    }