#scrubber{
width: 100%;
height: 0.4em;
margin-bottom: 0.5em;
}
#scrubber::-webkit-slider-runnable-track {
  width: 100%;
  height: 1em;
  background: transparent;
  border: none;
}
#scrubber::-webkit-slider-thumb{
 -webkit-appearance: none; 
 background-color: white;
  width: 1em;
  height: 1em;
  background-size: contain;
  cursor: pointer;
  border: none;
  border-radius: 10em;
  
}
#scrubber::-moz-range-thumb {
 background-color: white;
  width: 1em;
  height: 1em;
  background-size: contain;
  cursor: pointer;
  border: none;
  border-radius: 10em;

}
#playlistButton{
    margin-left: 2em;
}
#trackTitle{
    font-size: 0.75em;
}
.sideMenu{
    
    background-color: #141414e7;
    backdrop-filter: blur(12px);
    position: fixed;
    width: 25%;
    height: 100%;
    top:0;
    left: -25%;
    transition: all 0.5s;
}
#trackList{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.menuTrackItem{
    width: 90%;
  
    border-bottom: 2px solid #636363;
    display: grid;
    grid-template-rows: 2em 1.25em;
    grid-template-columns: 1.75fr 0.25fr;
    align-items: center;
    transition: all 0.15s;
}
.menuTrackItem:hover{
opacity: 50%;
}
.menuItemSongDuration{
    display: flex;
    justify-content: right;
    font-size: 0.5em;
    color: #636363;
   
}
.menuItemGenres{

    font-size: 0.75em;
    color: #636363;
     margin-bottom: 1em;
}
.menuBarBottom{
    position: fixed;
    bottom: 0;
    display: grid;
    width: 100%;
    height: 10vh;
    background-color: #141414;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.flexColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.flexRow{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}