html{
    scroll-behavior: smooth ;
}

body{
    background-color: black;
    color: white;
    
    
}
footer{
    font-family: 'Metropolis';
    font-weight: normal;
    margin-left: 1vw;
    display: flex;
    justify-content: space-between;
    #FooterRight{
        text-align: right;
    }
}

@font-face {
    font-family: 'BigJohn';
    src: url("../../fonts/BIG\ JOHN.otf");
    
}
@font-face {
    font-family: 'Metropolis';
    src: url(../../fonts/Metropolis-Regular.otf);
}


  .burgerButton{
   display: none;
}

.heading{
    font-family:'BigJohn' ,sans-serif;
    font-weight: normal;
    font-size: 3.3vw;
    margin:auto;
}
.bodyText{
    font-family: 'Metropolis';
    font-weight: normal;
    font-size: 1.6vw;
    line-height: 1.9vw;
}

#FooterRight {
    text-align: right;
}


    h1{
        font-family:'BigJohn' ,sans-serif;
        font-weight: normal;
        font-size: 4.5vw;
        margin-left: 8.5vw;
    }

    
    #BlogHead{
        margin-top: 15vh;
    }
#navCheck{
    display: none;
}
#scrubber{
width: 100%;
height: 0.4em;
margin-bottom: 0.5em;
}
#scrubber::-webkit-slider-runnable-track {
  width: 100%;
  height: 1em;
  background: transparent;
  border: none;
  
}
#scrubber::-webkit-slider-thumb{
 -webkit-appearance: none; 
 background-color: white;
  width: 1em;
  height: 1em;
  background-size: contain;
  cursor: pointer;
  border: none;
  border-radius: 10em;
  
}
#scrubber::-moz-range-thumb {
 background-color: white;
  width: 1em;
  height: 1em;
  background-size: contain;
  cursor: pointer;
  border: none;
  border-radius: 10em;

}
#playlistButton{
    margin-left: 2em;
}
#trackTitle{
    font-size: 0.75em;
}
.sideMenu{
    
    background-color: #141414e7;
    backdrop-filter: blur(12px);
    position: fixed;
    width: 25%;
    height: 100%;
    top:0;
    left: -100%;
    transition: all 0.5s;
}
#trackList{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.menuTrackItem{
    width: 90%;
  
    border-bottom: 2px solid #636363;
    display: grid;
    grid-template-rows: 2em 1.25em;
    grid-template-columns: 1.75fr 0.25fr;
    align-items: center;
    transition: all 0.15s;
}
.menuTrackItem:hover{
opacity: 50%;
}
#trackSelect:hover{
    transition: all 0.15s;
opacity: 50%;
}
.menuItemSongDuration{
    display: flex;
    justify-content: right;
    font-size: 0.5em;
    color: #636363;
   
}
.menuItemGenres{

    font-size: 0.75em;
    color: #636363;
     margin-bottom: 1em;
}
.menuBarBottom{
    position: fixed;
    bottom: 0;
    display: grid;
    width: 100%;
    height: 10vh;
    background-color: #141414;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.flexColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.flexRow{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}
@media only screen and (min-width: 992px){
.navbar{
        position:sticky;
        top: 2vh;
        margin: 0 auto; 
        max-width: 80vw;
        font-family: 'metropolis';
        background-color: #dbdbdb;
        padding: 3.5vh 3.5vw;
        border-radius: 10px;
        
        ul{
            position: relative;
            justify-content: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 100%; 
            display: flex;
            li{
                flex-grow: 1;
                color: black;
                font-size: large;
                text-align: center;
            }
            a{
                color: black;
                text-decoration: none;
                transition: color 0.15s;
                font-size: large;
            }
            a:hover{
                color: #636364;
            }
        }
    }
}
 @media only screen and (max-width: 750px){
    .sideMenu{
        width: 100%;
        margin-top: 10vh;
    }
    .menuBarBottom{
        grid-template-columns: 0.75fr 1.25fr;
    }
    #scrubber{
        width: 80%;
    }
    h1{
        font-family:'BigJohn' ,sans-serif;
        font-weight: normal;
        font-size: 8vw;
        text-align: center;
  
    }
      #BlogHead{
        margin-left: 0;
    }
     .heading{
        font-family:'BigJohn' ,sans-serif;
        font-weight: normal;
        font-size: 8vw;
        margin:auto;
    }
    .bodyText{
        font-family: 'Metropolis';
        font-weight: normal;
        font-size: 3.5vw;
       line-height: 1.2rem;
    }
     .navbar{
        
        position:fixed;
        margin: 0 auto; 
        width: 100%;
        top: 0;
        z-index: 100;
        font-family: 'metropolis';
        background-color: #dbdbdb;
        padding: 3vh 0;
        transition: top 0.5s;
        .burgerButton{
            font-size: 5vw;
            color: black;
           display: block;
           padding: 1vw 3vw;
          
        }
        #navCheck:checked ~ul{
            opacity: 100%;
            left: 0;
        }
     
        
        
    }
    
        #menu{
         
        position: fixed;
        z-index: 99;
        opacity: 0;
        left: -120%;
        background-color: #141414cb;
        backdrop-filter: blur(12px);
        list-style-type: none;
        width: 100%;
        height: 100vh;
        transition: all 0.25s;

        li{
            color: white;
            font-size: large;
            padding-top: 7vh;
        }
        a{
            
            color: white;
            text-decoration: none;
            transition: color 0.15s;
            font-size: 5vw;
        }
        a:hover{
            
            color: #636364;
            
        }
        
        
        }
        
    
    }