
    html{
    scroll-behavior: smooth ;
}

body{
    background-color: black;
    color: white;
    
    
}
footer{
    font-family: 'Metropolis';
    font-weight: normal;
    margin-left: 1vw;
    display: flex;
    justify-content: space-between;
    #FooterRight{
        text-align: right;
    }
}

@font-face {
    font-family: 'BigJohn';
    src: url("../fonts/BIG\ JOHN.otf");
    
}
@font-face {
    font-family: 'Metropolis';
    src: url(../fonts/Metropolis-Regular.otf);
}

  
  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @keyframes slideUp {
    from{transform: translateY(100%);}
    to{transform: translateY(0%);}
  }
  .burgerButton{
   display: none;
}
#navCheck{
    display: none;
}
.sliderContainer{
    margin-left: 5vw;
    margin-right: 5vw;
     z-index: 10;
}
.slider{
    appearance: none;
    writing-mode: vertical-lr;
    height: 55vh;
    border-radius: 9px;
     z-index: 10;
     
}
.flexGroup{
    display: flex;
}
.introduction{
    position: absolute;
   
}
.bringInTheBass{
    position: absolute;
    opacity: 0;
}
#muteButton{
    position: fixed;
    bottom: 5vh;
    right: 2vw;
    height: 5vh;
    width: 5vh;
}
  @media only screen and (min-width: 992px){
    .fade-in {
        opacity: 0;
        animation: fadeIn 1.5s ease-in-out 1s forwards, slideUp 1s ease-in-out 1s;
      }
h1{
    font-family:'BigJohn' ,sans-serif;
    font-weight: normal;
    font-size: 4.5vw;
    margin-left: 8.5vw;
}
.subtitle{
    font-family: 'Metropolis';
    font-weight: normal;
    font-size: 1.9vw;
    margin-top: -1.5em;
    margin-left: 8.5vw;
}
#landingDescription{
    font-family: 'Metropolis';
    font-weight: normal;
    font-size: 2.9vw;
    max-width: 62vw;
    margin-left: 8.5vw;
}
.heading{
    font-family:'BigJohn' ,sans-serif;
    font-weight: normal;
    font-size: 3.3vw;
    margin:auto;
}
.bodyText{
    font-family: 'Metropolis';
    font-weight: normal;
    font-size: 1.6vw;
    line-height: 1.9vw;
}
.landing{ 
    margin-top: 26vh;
    margin-bottom: 31vh;
}
#AboutMe{
    display: flex;
    padding-top: 20vh;
    img{
        margin-left: 8.5vw;
    }
    #AboutMeText{
        margin-left: 4vw;
        margin-right: 4vw;
       padding-top: 2vh; 
    }
    #AboutMeImage{
        height: 35vw;
    }
}
#Projects{
    padding-top: 20vh;
 
    .heading{
        margin-left: 8.5vw;
        margin-bottom: 7vh;
    }
    ul{
       padding: 6vh 15vw;
        justify-content: center;
        display: flex;
        background-color: #141414;
        margin-inline: 5vw;
        list-style-type: none;
      
    }
    li{
    text-align: center;
    font-family: 'Metropolis';
    font-weight: normal;
    font-size: 1.6vw;
    line-height: 1.9vw;
    margin-inline: 60px;
    max-width: min-content;
    
    img{
        width: 14.5vw;
        transition: all 0.15s;
    }
    
    a{
        
        text-decoration: none;
        color: white;
      
    }
   
    
    }
    li:hover{
           
            img{
                box-shadow: 0 0 14px 2px #dbdbdb;
            }
        
    }
    

}

#Blog{
    #BlogHeadingContainer{
        display: flex;
        justify-content: space-between;
        #AllBlogs{
            a{
                font-family:'BigJohn' ,sans-serif;
                font-weight: normal;
                font-size: 3.3vw;
            }
        margin-right: 3vw;
        margin-bottom: 3vh;
        margin-top: auto;
        line-height: auto;
        }
    }
    padding-top: 20vh;
    padding-bottom: 10vh;
    .heading{
        margin-left: 8.5vw;
        margin-bottom: 3vh;
    }
    #blogSpace{
       
        background-color: #141414;
        padding: 2vh 3vw;
        margin: 0 5vw;
        font-family: 'Metropolis';
        font-weight: normal;
        h3{
            font-size: 2vw;
        }
        img{
            max-width: 33vw;
        }
        li{
            margin-right: 33vw;
        }
        
    }
    a{
            color: #636364;
            text-decoration: none;
            font-family: 'Metropolis';
            font-size: large;
            transition: color 0.15s;
    }
    a:hover{
            
        color: white;
        
    }
    
}
#Contact{
    padding-top: 20vh;
    margin-bottom: 30vh;
 
    .heading{
        margin-left: 7vw;
        margin-bottom: 3vh;
    }
    section{
        font-family: 'Metropolis';
        font-weight: normal;
        margin-left: 7vw;
        ul{
            list-style-type: none;
            
            a{
                font-size: 1.6vw;
                line-height: 4vh;
                text-decoration: none;
                color: white;
                transition: color 0.15s;
            }
            a:hover{
            
                color: #636364;
                
            }
            
        }
        #contactName{
            font-size: 3vw;
        }
    }
}
.navbar{
    
    position:sticky;
    top: 2vh;
    margin: 0 auto; 
    max-width: 80vw;
    font-family: 'metropolis';
    background-color: #dbdbdb;
    padding: 3.5vh 3.5vw;
    border-radius: 10px;
    
    ul{
        
        position: relative;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%; 
        display: flex;
        li{
            flex-grow: 1;
            color: black;
            font-size: large;
            text-align: center;
            
        }
        a{
            
            color: black;
            text-decoration: none;
            transition: color 0.15s;
            font-size: large;
        }
        a:hover{
            
            color: #636364;
            
        }
        
        
    }
    
    
}
.navbarBlog{
    
    position:fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    font-family: 'metropolis';
    background-color: #dbdbdb;
    padding: 2rem;
    
    ul{
        
        position: relative;
       
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%; 
        display: flex;
        li{
           padding-inline: 5vw;
            color: black;
            font-size: large;
          
            
        }
        a{
            
            color: black;
            text-decoration: none;
            font-size: large;
            transition: color 0.15s;
        }
        a:hover{
            
            color: #636364;
            
        }
        
        
    }
    
    
}
#BlogHead{
    margin-top: 15vh;
}
#BlogGrid{
    display: grid;
    
    margin: 7vh 20vw;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows  : auto;
    gap: 4vw;
    list-style-type: none;

    .cardContainer{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        
    }
    .card{
        
      background-color: #141414;
      width: 25vw;
      padding: 1.5vw;
      display: flex;
      justify-content: center;
      transition: box-shadow .3s;
      border-radius: 8px;
      overflow: hidden;
     
        a{
          
            color: white;
            text-decoration: none;
            font-family: 'Metropolis';
        }
        .cardContent{
            margin-inline: 1vw;
        }
        .blogSample{
            color: #636364;
            line-height: 1.5rem;
        }
       
    }
    .card:hover{
        box-shadow: 0 0 14px 2px #dbdbdb;
    }
}
.blogEntry{
   
    font-family: 'Metropolis';
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    cite{
        color: #dbdbdb;
    }
    .e-content{
       p{
        line-height: 1.3rem;
        margin-right: 2vw;
       }
       figcaption{
        line-height: 1.3rem;
        margin-right: 2vw;
       }
       a{
        text-decoration: none;
        color: #636364;
        transition: color 0.15s;
       }
       a:hover{
        color: white;
       }
    }
    h2{
        padding-top: 20vh;
        font-weight: normal;
        font-size: 3rem;
        margin-bottom: 0px;
    }
    h3{
        font-weight: normal;
        font-size: 2rem;
    }
    .blogSubtitle{
        display: flex;
        justify-content: space-between;
        color: #636364;
        margin-bottom: 3rem;
        a{
            text-decoration: none;
            color: #dbdbdb;
            transition: color 0.15s;
        }
        a:hover{
            color: #636364;
        }
        
    }
}
#ProgrammingGrid{
    display: grid;
    
    margin: 7vh 10vw;

    grid-template-columns: 1fr;
    grid-template-rows  : auto;
    gap: 7vw;
    list-style-type: none;
    justify-content: center;
    .cardContainer{

        display: flex;
        flex-wrap: wrap;
        
    }
    .card{
        
      background-color: #141414;
      margin: 0 auto;
      width: 85vw;
      height: 50vh;
      padding: 3vh;
      display: flex;
      transition: box-shadow .3s;
      border-radius: 8px;
      overflow: hidden;
      img{
       
        width: 70vw;
       
    }
       
       
    }
    .card:hover{
        box-shadow: 0 0 14px 2px #dbdbdb;
    }
    a{
          
        color: white;
        text-decoration: none;
        font-family: 'Metropolis';
    }
    .cardContent{
     
        
        justify-content: space-between; 
        margin-inline: 2vw;
    }
    .programDescription{
        color: #636364;
    }
}


#MusicGrid{
    display: grid;
    
    margin: 7vh 10vw;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows  : auto;
    gap: 3vw;
    list-style-type: none;
    justify-content: center;
    .cardContainer{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        
    }
    .card{
        
      background-color: #141414;
      width: 26vw;
      padding: 1vw;
      display: flex;
     
      transition: box-shadow .3s;
      border-radius: 8px;
      
        a{
          
            color: white;
            text-decoration: none;
            font-family: 'Metropolis';
        }
        .cardContent{
            margin-inline: 2vw;
        }
        .songDescription{
            color: #636364;
        }
       
    }
  
   
}
  }

  @media only screen and (max-width: 992px){
  
    h1{
        font-family:'BigJohn' ,sans-serif;
        font-weight: normal;
        font-size: 8vw;
        text-align: center;
    }
    .subtitle{
        font-family: 'Metropolis';
        font-weight: normal;
        font-size: 3.5vw;
        margin-top: -0.8em;
        text-align: center;
    }
    #landingDescription{
        font-family: 'Metropolis';
        font-weight: normal;
        font-size: 4vw;
        margin: 5vh 3vw;
        text-align: center;
    }
    .heading{
        font-family:'BigJohn' ,sans-serif;
        font-weight: normal;
        font-size: 8vw;
        margin:auto;
    }
    .bodyText{
        font-family: 'Metropolis';
        font-weight: normal;
        font-size: 2.6vw;
       
    }
    .landing{
        margin-top: 26vh;
        margin-bottom: 32vh;
    }
    figure{
        margin: 0;
        
       img{
        max-width: 90vw;
       }
    }
    #AboutMe{
       
        padding-top: 20vh;
       
        img{
           
            padding: 5vw;
            float: inline-start;
        }
        #AboutMeText{
            
            margin-left: 4vw;
            margin-right: 4vw;
           padding-top: 2vh; 
        }
        #AboutMeImage{
           
          height: 50vw;
        }
    }
    #Projects{
        padding-top: 20vh;

        .heading{
            margin-left: 8.5vw;
            margin-bottom: 5vh;
        }
        ul{
       
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 2vh 2vw;
            gap: 3vw;
            justify-content: center;  
            background-color: #141414;
            margin-inline: 5vw;
            list-style-type: none;
            align-items: center;
        }
        li{
            display: flex;
            flex-direction: column;
        text-align: center;
        font-family: 'Metropolis';
        font-weight: normal;
        font-size: 3vw;
        line-height: 5vh;
        margin: 2vh 2vw;

        
        img{
            width: 30vw;
            transition: all 0.15s;
        }
        
        a{
            
            text-decoration: none;
            color: white;
          
        }
       
        
        }
        li:hover{
               
                img{
                    box-shadow: 0 0 14px 2px #dbdbdb;
                }
            
        }
        
    
    }
    
    #Blog{
        #BlogHeadingContainer{
            display: flex;
            justify-content: space-between;
            #AllBlogs{
                a{
                    font-family:'BigJohn' ,sans-serif;
                    font-weight: normal;
                    font-size: 6vw;
                }
            margin-right: 3vw;
            margin-bottom: 3vh;
            margin-top: auto;
            line-height: auto;
            }
        }
        padding-top: 20vh;
        padding-bottom: 10vh;
        .heading{
            margin-left: 8.5vw;
            margin-bottom: 3vh;
        }
        #blogSpace{
           
            background-color: #141414;
            padding: 1vh 3vw;
            margin: 0 5vw;
            font-family: 'Metropolis';
            font-weight: normal;
            h3{
                font-size: 5vw;
            }
            img{
                max-width: 80vw;
            }
            li{
                margin-right: 10vw;
            }
            
        }
        a{
              
                color: #636364;
                text-decoration: none;
                font-family: 'Metropolis';
                font-size: large;
                transition: color 0.15s;
                line-height: 5vh;
        }
        a:hover{
                
            color: white;
            
        }
        
    }
    #Contact{
        padding-top: 20vh;
        margin-bottom: 30vh;
     
        .heading{
            margin-left: 7vw;
            margin-bottom: 3vh;
        }
        section{
            font-family: 'Metropolis';
            font-weight: normal;
            margin-left: 7vw;
            ul{
                list-style-type: none;
                
                a{
                    font-size: 4vw;
                    line-height: 6vh;
                    text-decoration: none;
                    color: white;
                    transition: color 0.15s;
                }
                a:hover{
                
                    color: #636364;
                    
                }
                
            }
            #contactName{
                font-size: 7vw;
            }
        }
    }
    .navbar{
        
        position:fixed;
        margin: 0 auto; 
        width: 100%;
        top: 0;
        z-index: 100;
        font-family: 'metropolis';
        background-color: #dbdbdb;
        padding: 3vh 0;
        .burgerButton{
            font-size: 5vw;
            color: black;
           display: block;
           padding: 1vw 3vw;
          
        }
        #navCheck:checked ~ul{
            opacity: 100%;
            left: 0;
        }
      
        
        
    }
    
        #menu{
         
        position: fixed;
        z-index: 99;
        opacity: 0;
        left: -120%;
        background-color: #141414cb;
        backdrop-filter: blur(12px);
        list-style-type: none;
        width: 100%;
        height: 100vh;
        transition: all 0.25s;

        li{
            color: white;
            font-size: large;
            padding-top: 7vh;
        }
        a{
            
            color: white;
            text-decoration: none;
            transition: color 0.15s;
            font-size: 5vw;
        }
        a:hover{
            
            color: #636364;
            
        }
        
        
        }
    
    .navbarBlog{
        
        position:fixed;
        top: 0;
        width: 100%;
        margin: 0 auto;
        font-family: 'metropolis';
        background-color: #dbdbdb;
        padding: 2rem;
        
        ul{
            
            position: relative;
           
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 100%; 
            display: flex;
            li{
               padding-inline: 5vw;
                color: black;
                font-size: large;
              
                
            }
            a{
                
                color: black;
                text-decoration: none;
                font-size: large;
                transition: color 0.15s;
            }
            a:hover{
                
                color: #636364;
                
            }
            
            
        }
        
        
    }
    #BlogHead{
        margin-top: 15vh;
    }
    #BlogGrid{
        display: grid;
        
        margin: 7vh 7vw;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows  : auto;
        gap: 4vw;
        list-style-type: none;
    
        .cardContainer{
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            
        }
        .card{
            
          background-color: #141414;
          width: 40vw;
          padding: 1.5vw;
          display: flex;
          justify-content: center;
          transition: box-shadow .3s;
          border-radius: 8px;
          overflow: hidden;
         
            a{
              
                color: white;
                text-decoration: none;
                font-family: 'Metropolis';
            }
            .cardContent{
                margin-inline: 1vw;
            }
            .blogSample{
                color: #636364;
                line-height: 1.5rem;
            }
           
        }
        .card:hover{
            box-shadow: 0 0 14px 2px #dbdbdb;
        }
    }
    .blogEntry{
       
        font-family: 'Metropolis';
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        cite{
            color: #dbdbdb;
        }
        .e-content{
           p{
            line-height: 1.3rem;
            margin-right: 2vw;
           }
           figcaption{
            line-height: 1.3rem;
            margin-right: 2vw;
           }
           a{
            text-decoration: none;
            color: #636364;
            transition: color 0.15s;
           }
           a:hover{
            color: white;
           }
           img{
            max-width: 90vw;
           }
        }
        h2{
            padding-top: 20vh;
            font-weight: normal;
            font-size: 3rem;
            margin-bottom: 0px;
        }
        h3{
            font-weight: normal;
            font-size: 2rem;
        }
        .blogSubtitle{
            display: flex;
            justify-content: space-between;
            color: #636364;
            margin-bottom: 3rem;
            a{
                text-decoration: none;
                color: #dbdbdb;
                transition: color 0.15s;
            }
            a:hover{
                color: #636364;
            }
            
        }
    }
    #ProgrammingGrid{
        display: grid;
        
        margin: 7vh 10vw;
    
        grid-template-columns: 1fr 1fr;
        grid-template-rows  : auto;
        gap: 4vh 3vw;
        list-style-type: none;
        justify-content: center;
        .cardContainer{
    
            display: flex;
            flex-wrap: wrap;
            
        }
        .card{
            
          background-color: #141414;
          margin: 0 auto;
          width: 38vw;
          
          padding: 3vh 3vw;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: box-shadow .3s;
          border-radius: 8px;
       
          video{
            max-width: 40vw;
          }
           
           
        }
        .card:hover{
            box-shadow: 0 0 14px 2px #dbdbdb;
        }
        a{
              
            color: white;
            text-decoration: none;
            font-family: 'Metropolis';
        }
        .cardContent{
           
            margin-inline: 2vw;
        }
        .programDescription{
            color: #636364;
        }
    }
    
    
    #MusicGrid{
        display: grid;
        
        margin: 7vh 10vw;
    
        grid-template-columns: 1fr 1fr;
        grid-template-rows  : auto;
        gap: 4vh;
        list-style-type: none;
        justify-content: center;
        .cardContainer{
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            
        }
        .card{
            
          background-color: #141414;
          width: 40vw;
          padding: 2vh 0;
          display: flex;
          justify-content: center;
          transition: box-shadow .3s;
          border-radius: 8px;
          
            a{
              
                color: white;
                text-decoration: none;
                font-family: 'Metropolis';
            }
            .cardContent{
                margin-inline: 2vw;
            }
            .songDescription{
                color: #636364;
            }
           
        }
      
       
    }
      }

  @media only screen and (max-width: 750px){
  
    h1{
        font-family:'BigJohn' ,sans-serif;
        font-weight: normal;
        font-size: 8vw;
        text-align: center;
        margin: 8.5vw;
    }
    .subtitle{
        font-family: 'Metropolis';
        font-weight: normal;
        font-size: 3.5vw;
        margin-top: -0.8em;
        text-align: center;
    }
    #landingDescription{
        font-family: 'Metropolis';
        font-weight: normal;
        font-size: 4vw;
        margin: 5vh 3vw;
        text-align: center;
    }
    .heading{
        font-family:'BigJohn' ,sans-serif;
        font-weight: normal;
        font-size: 8vw;
        margin:auto;
    }
    .bodyText{
        font-family: 'Metropolis';
        font-weight: normal;
        font-size: 3.5vw;
       
    }
    .landing{
        margin-top: 26vh;
        margin-bottom: 32vh;
    }
    figure{
        margin: 0;
        
       img{
        max-width: 90vw;
       }
    }
    #AboutMe{
       
        padding-top: 20vh;
       
        img{
           
            padding: 5vw;
            float: inline-start;
        }
        #AboutMeText{
            
            margin-left: 4vw;
            margin-right: 4vw;
           padding-top: 2vh; 
        }
        #AboutMeImage{
           
          height: 50vw;
        }
    }
    #Projects{
        padding-top: 20vh;

        .heading{
            margin-left: 8.5vw;
            margin-bottom: 5vh;
        }
        ul{
       
            display: flex;
            flex-direction: column;
            padding: 2vh 2vw;
            justify-content: center;  
            background-color: #141414;
            margin-inline: 5vw;
            list-style-type: none;
            align-items: center;
        }
        li{
            display: flex;
            flex-direction: column;
        text-align: center;
        font-family: 'Metropolis';
        font-weight: normal;
        font-size: 5vw;
        line-height: 5vh;
        margin: 2vh 2vw;

        
        img{
            width: 50vw;
            transition: all 0.15s;
        }
        
        a{
            
            text-decoration: none;
            color: white;
          
        }
       
        
        }
        li:hover{
               
                img{
                    box-shadow: 0 0 14px 2px #dbdbdb;
                }
            
        }
        
    
    }
    
    #Blog{
        #BlogHeadingContainer{
            display: flex;
            justify-content: space-between;
            #AllBlogs{
                a{
                    font-family:'BigJohn' ,sans-serif;
                    font-weight: normal;
                    font-size: 6vw;
                }
            margin-right: 3vw;
            margin-bottom: 3vh;
            margin-top: auto;
            line-height: auto;
            }
        }
        padding-top: 20vh;
        padding-bottom: 10vh;
        .heading{
            margin-left: 8.5vw;
            margin-bottom: 3vh;
        }
        #blogSpace{
           
            background-color: #141414;
            padding: 1vh 3vw;
            margin: 0 5vw;
            font-family: 'Metropolis';
            font-weight: normal;
            h3{
                font-size: 7vw;
            }
            img{
                max-width: 80vw;
            }
            li{
                margin-right: 10vw;
            }
            
        }
        a{
              
                color: #636364;
                text-decoration: none;
                font-family: 'Metropolis';
                font-size: large;
                transition: color 0.15s;
                line-height: 5vh;
        }
        a:hover{
                
            color: white;
            
        }
        
    }
    #Contact{
        padding-top: 20vh;
        margin-bottom: 30vh;
     
        .heading{
            margin-left: 7vw;
            margin-bottom: 3vh;
        }
        section{
            font-family: 'Metropolis';
            font-weight: normal;
            margin-left: 7vw;
            ul{
                list-style-type: none;
                
                a{
                    font-size: 5vw;
                    line-height: 6vh;
                    text-decoration: none;
                    color: white;
                    transition: color 0.15s;
                }
                a:hover{
                
                    color: #636364;
                    
                }
                
            }
            #contactName{
                font-size: 7vw;
            }
        }
    }
    .navbar{
        
        position:fixed;
        margin: 0 auto; 
        width: 100%;
        top: 0;
        z-index: 100;
        font-family: 'metropolis';
        background-color: #dbdbdb;
        padding: 3vh 0;
        .burgerButton{
            font-size: 5vw;
            color: black;
           display: block;
           padding: 1vw 3vw;
          
        }
        #navCheck:checked ~ul{
            opacity: 100%;
            left: 0;
        }
      
        
        
    }
    
        #menu{
         
        position: fixed;
        z-index: 99;
        opacity: 0;
        left: -120%;
        background-color: #141414cb;
        backdrop-filter: blur(12px);
        list-style-type: none;
        width: 100%;
        height: 100vh;
        transition: all 0.25s;

        li{
            color: white;
            font-size: large;
            padding-top: 7vh;
        }
        a{
            
            color: white;
            text-decoration: none;
            transition: color 0.15s;
            font-size: 5vw;
        }
        a:hover{
            
            color: #636364;
            
        }
        
        
        }
    
    .navbarBlog{
        
        position:fixed;
        top: 0;
        width: 100%;
        margin: 0 auto;
        font-family: 'metropolis';
        background-color: #dbdbdb;
        padding: 2rem;
        
        ul{
            
            position: relative;
           
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 100%; 
            display: flex;
            li{
               padding-inline: 5vw;
                color: black;
                font-size: large;
              
                
            }
            a{
                
                color: black;
                text-decoration: none;
                font-size: large;
                transition: color 0.15s;
            }
            a:hover{
                
                color: #636364;
                
            }
            
            
        }
        
        
    }
    #BlogHead{
        margin-top: 15vh;
    }
    #BlogGrid{
        display: grid;
        
        margin: 7vh 7vw;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows  : auto;
        gap: 4vw;
        list-style-type: none;
    
        .cardContainer{
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            
        }
        .card{
            
          background-color: #141414;
          width: 70vw;
          padding: 1.5vw;
          display: flex;
          justify-content: center;
          transition: box-shadow .3s;
          border-radius: 8px;
          overflow: hidden;
         
            a{
              
                color: white;
                text-decoration: none;
                font-family: 'Metropolis';
            }
            .cardContent{
                margin-inline: 1vw;
            }
            .blogSample{
                color: #636364;
                line-height: 1.5rem;
            }
           
        }
        .card:hover{
            box-shadow: 0 0 14px 2px #dbdbdb;
        }
    }
    .blogEntry{
       
        font-family: 'Metropolis';
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        cite{
            color: #dbdbdb;
        }
        .e-content{
           p{
            line-height: 1.3rem;
            margin-right: 2vw;
           }
           figcaption{
            line-height: 1.3rem;
            margin-right: 2vw;
           }
           a{
            text-decoration: none;
            color: #636364;
            transition: color 0.15s;
           }
           a:hover{
            color: white;
           }
           img{
            max-width: 90vw;
           }
        }
        h2{
            padding-top: 20vh;
            font-weight: normal;
            font-size: 3rem;
            margin-bottom: 0px;
        }
        h3{
            font-weight: normal;
            font-size: 2rem;
        }
        .blogSubtitle{
            display: flex;
            justify-content: space-between;
            color: #636364;
            margin-bottom: 3rem;
            a{
                text-decoration: none;
                color: #dbdbdb;
                transition: color 0.15s;
            }
            a:hover{
                color: #636364;
            }
            
        }
    }
    #ProgrammingGrid{
        display: grid;
        
        margin: 7vh 10vw;
    
        grid-template-columns: 1fr;
        grid-template-rows  : auto;
        gap: 7vw;
        list-style-type: none;
        justify-content: center;
        .cardContainer{
    
            display: flex;
            flex-wrap: wrap;
            
        }
        .card{
            
          background-color: #141414;
          margin: 0 auto;
          width: 80vw;
          
          padding: 4vh 3vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: box-shadow .3s;
          border-radius: 8px;
       
          video{
            max-width: 80vw;
          }
           
           
        }
        .card:hover{
            box-shadow: 0 0 14px 2px #dbdbdb;
        }
        a{
              
            color: white;
            text-decoration: none;
            font-family: 'Metropolis';
        }
        .cardContent{
           
            margin-inline: 2vw;
        }
        .programDescription{
            color: #636364;
        }
    }
    
    
    #MusicGrid{
        display: grid;
        
        margin: 7vh 10vw;
    
        grid-template-columns: 1fr;
        grid-template-rows  : auto;
        gap: 4vh;
        list-style-type: none;
        justify-content: center;
        .cardContainer{
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            
        }
        .card{
            
          background-color: #141414;
          width: 80vw;
          padding: 2vh 0;
          display: flex;
          justify-content: center;
          transition: box-shadow .3s;
          border-radius: 8px;
          
            a{
              
                color: white;
                text-decoration: none;
                font-family: 'Metropolis';
            }
            .cardContent{
                margin-inline: 2vw;
            }
            .songDescription{
                color: #636364;
            }
           
        }
      
       
    }
      }

      