html{
    scroll-behavior: smooth ;
}

body{
    background-color: black;
    color: white;
    
    
}
footer{
    font-family: 'Metropolis';
    font-weight: normal;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    #FooterRight{
        text-align: right;
    }
}

@font-face {
    font-family: 'BigJohn';
    src: url("../fonts/BIG\ JOHN.otf");
    
}
@font-face {
    font-family: 'Metropolis';
    src: url(../fonts/Metropolis-Regular.otf);
}
.fade-in {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out 1.5s forwards, slideUp 1s ease-in-out 1.5s;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @keyframes slideUp {
    from{transform: translateY(100%);}
    to{transform: translateY(0%);}
  }
h1{
    font-family:'BigJohn' ,sans-serif;
    font-weight: normal;
    font-size: 5rem;
    margin-left: 140px;
}
.subtitle{
    font-family: 'Metropolis';
    font-weight: normal;
    font-size: 2.1rem;
    margin-top: -49px;
    margin-left: 140px;
}
#landingDescription{
    font-family: 'Metropolis';
    font-weight: normal;
    font-size: 3.3rem;
    max-width: 55vw;
    margin-left: 140px;
}
.heading{
    font-family:'BigJohn' ,sans-serif;
    font-weight: normal;
    font-size: 3.3rem;
    margin:auto;
}
.bodyText{
    font-family: 'Metropolis';
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
}
.landing{
    margin-top: 28vh;
    margin-bottom: 33vh;
}
#AboutMe{
    display: flex;
    padding-top: 200px;
    img{
        margin-left: 70px;
    }
    #AboutMeText{
        margin-left: 70px;
        margin-right: 200px;
       padding-top: 20px; 
    }
}
#Projects{
    padding-top: 200px;
 
    .heading{
        margin-left: 70px;
        margin-bottom: 50px;
    }
    ul{
       padding: 50px;
        justify-content: center;
        display: flex;
        background-color: #141414;
        margin-inline: 80px;
        list-style-type: none;
      
    }
    li{
    text-align: center;
    font-family: 'Metropolis';
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-inline: 60px;
    max-width: min-content;
    
    img{
        width: 300px;
        transition: all 0.15s;
    }
    
    a{
        
        text-decoration: none;
        color: white;
      
    }
   
    
    }
    li:hover{
           
            img{
                box-shadow: 0 0 14px 2px #dbdbdb;
            }
        
    }
    

}

#Blog{
    #BlogHeadingContainer{
        display: flex;
        justify-content: space-between;
        #AllBlogs{
            a{
                font-family:'BigJohn' ,sans-serif;
                font-weight: normal;
                font-size: 3.3rem;
            }
        margin-right: 70px;
        margin-bottom: 50px;
        
        }
    }
    padding-top: 200px;
    .heading{
        margin-left: 70px;
        margin-bottom: 50px;
    }
    #blogSpace{
       
        background-color: #141414;
        padding: 40px;
        margin: 90px;
        font-family: 'Metropolis';
        font-weight: normal;
        section{
            padding: 1  0px;
        }
        h3{
            font-size: 2rem;
        }
        img{
            max-width: 600px;
        }
        
    }
    a{
            color: #636364;
            text-decoration: none;
            font-family: 'Metropolis';
            font-size: large;
            transition: color 0.15s;
    }
    a:hover{
            
        color: white;
        
    }
    
}
#Contact{
    padding-top: 200px;
    margin-bottom: 300px;
    --fa{
        color: white;
        font-size: 1.5rem;
    }
    .heading{
        margin-left: 70px;
        margin-bottom: 50px;
    }
    section{
        font-family: 'Metropolis';
        font-weight: normal;
        margin-left: 70px;
        ul{
            list-style-type: none;
            
            a{
                font-size: 25px;
                line-height:40px;
                text-decoration: none;
                color: white;
                transition: color 0.15s;
            }
            a:hover{
            
                color: #636364;
                
            }
            
        }
        #contactName{
            font-size: 45px;
        }
    }
}
.navbar{
    
    position:sticky;
    top: 2vh;
    margin: 0 auto;
    min-width: 400px;
    max-width: 1000px;
    font-family: 'metropolis';
    background-color: #dbdbdb;
    padding: 2rem;
    border-radius: 10px;
    
    ul{
        
        position: relative;
        justify-content: center;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        width: 100%; 
        display: flex;
        li{
            flex-grow: 1;
            color: black;
            font-size: large;
            text-align: center;
            
        }
        a{
            
            color: black;
            text-decoration: none;
            transition: color 0.15s;
            font-size: large;
        }
        a:hover{
            
            color: #636364;
            
        }
        
        
    }
    
    
}
.navbarBlog{
    
    position:fixed;
    top: 0px;
    width: 100%;
    margin: 0 auto;
    font-family: 'metropolis';
    background-color: #dbdbdb;
    padding: 2rem;
    
    ul{
        
        position: relative;
       
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        width: 100%; 
        display: flex;
        li{
           padding-inline: 50px;
            color: black;
            font-size: large;
          
            
        }
        a{
            
            color: black;
            text-decoration: none;
            font-size: large;
            transition: color 0.15s;
        }
        a:hover{
            
            color: #636364;
            
        }
        
        
    }
    
    
}
#BlogHead{
    margin-top: 150px;
}
#BlogGrid{
    display: grid;
    
    margin: 70px 100px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows  : auto;
    gap: 70px;
    list-style-type: none;

    .cardContainer{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        
    }
    .card{
        
      background-color: #141414;
      width: 400px;
      padding: 20px;
      display: flex;
      justify-content: center;
      transition: box-shadow .3s;
      border-radius: 8px;
      img{
        
        width: 400px;
        height: 200px;
    }
        a{
          
            color: white;
            text-decoration: none;
            font-family: 'Metropolis';
        }
        .cardContent{
            margin-inline: 20px;
        }
       
    }
    .card:hover{
        box-shadow: 0 0 14px 2px #dbdbdb;
    }
}
.blogEntry{
   
    font-family: 'Metropolis';
    margin-left: 20px;
    cite{
        color: #dbdbdb;
    }
    .e-content{
       p{
        line-height: 1.3rem;
        margin-right: 100px;
       }
       figcaption{
        line-height: 1.3rem;
        margin-right: 100px;
       }
       a{
        text-decoration: none;
        color: #636364;
        transition: color 0.15s;
       }
       a:hover{
        color: white;
       }
    }
    h2{
        padding-top: 100px;
        font-weight: normal;
        font-size: 3rem;
        margin-bottom: 0px;
    }
    h3{
        font-weight: normal;
        font-size: 2rem;
    }
    .blogSubtitle{
        display: flex;
        justify-content: space-between;
        color: #636364;
        margin-bottom: 3rem;
        a{
            text-decoration: none;
            color: #dbdbdb;
            transition: color 0.15s;
        }
        a:hover{
            color: #636364;
        }
        
    }
}